@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CarthageCRUD.Models.AddConcertViewModel
@{
}
<h1>Add Concert</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Price</label>
        <input type="number" class="form-control" asp-for="Price">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Location</label>
        <input type="text" class="form-control" asp-for="Location">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date</label>
        <input type="date" class="form-control" asp-for="Date">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>